@model DoYouNowThese.CommonModel.Infrastructure.InfrastructureModel<List<DoYouNowThese.CommonModel.InformationContentModel.InformationContentSingleDataModel>>
@using DoYouNowThese.CORE
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Panel Table Tools -->
<div class="panel">
    <header class="panel-heading">
        <h3 class="panel-title">Table Tools</h3>
    </header>
    <div class="panel-body">
        <table class="table table-hover dataTable table-striped w-full" id="exampleTableTools">
            <thead>
                <tr>
                    <th>
                        Başlık
                    </th>
                    <th>
                        Açıklama
                    </th>
                    <th>
                        Kategori Adı
                    </th>
                    <th>
                        Yazar Adı
                    </th>
                    <th>
                        Beğeni
                    </th>

                    <th>
                        Resim
                    </th>

                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        Başlık
                    </th>
                    <th>
                        Açıklama
                    </th>
                    <th>
                        Kategori Adı
                    </th>
                    <th>
                        Yazar Adı
                    </th>
                    <th>
                        Beğeni
                    </th>
                    <th>
                        Resim
                    </th>

                </tr>
            </tfoot>
            <tbody>
            <tbody>

                @foreach (var info in Model.ResultModel)
                {

                    <tr>
                        <td>@info.Title</td>
                         <td>@info.Explanation</td>
                        <td>@info.CategoryName</td>
                        <td>@info.AuthorFullName</td>
                        <td>@info.LikeCount</td>
                        <td>
                            <img class="avatar avatar-sm" src="@UrlHelper.InformationPhotoPath@info.ImagePath" data-toggle="tooltip"
                                   data-container="body"
                                 title="">
                        </td>
                    </tr>


                }
            </tbody>
        </table>
    </div>
</div>
<!-- End Panel Table Tools -->


 