@model DoYouNowThese.CommonModel.Infrastructure.InfrastructureModel<List<DoYouNowThese.CommonModel.InformationContentModel.InformationContentSingleDataModel>>
@using DoYouNowThese.CORE
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <table class="table table-active table-bordered table-condensed table-responsive">
        <div class="panel" id="exampleReport">
            <div class="panel-body">
                <div class="panel-heading">
                    <h4 class="panel-title">23 Reports</h4>
                    @*<div class="panel-actions">
                        <a class="panel-action icon md-edit" data-toggle="tooltip" data-original-title="edit"
                           data-container="body" title=""></a>
                        <a class="panel-action icon md-mail-reply" data-toggle="tooltip" data-original-title="send"
                           data-container="body" title=""></a>
                        <a class="panel-action icon md-delete" data-toggle="tooltip" data-original-title="move to trash"
                           data-container="body" title=""></a>
                        <a class="panel-action icon md-account" data-toggle="tooltip" data-original-title="uesrs"
                           data-container="body" title=""></a>
                    </div>*@
                </div>
                <div class="example-wrap">
                    <div class="example">
                        <div class="table-responsive">
                            <table class="table table-hover" data-role="content" data-plugin="selectable" data-row-selectable="true">
                                <thead class="bg-grey-100">
                                    <tr>
                                        <th>
                                            Başlık
                                        </th>
                                        <th>
                                            Açıklama
                                        </th>
                                        <th>
                                            Kategori Adı
                                        </th>
                                        <th>
                                            Yazar Adı
                                        </th>
                                        <th>
                                            Beğeni
                                        </th>
                                      
                                        <th>
                                            Resim
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var info in Model.ResultModel)
                                    {

                                        <tr>
                                            @*<td>@info.Title</td>
                                            <td>@info.Explanation</td>*@
                                            @*<td>@info.CategoryName</td>*@
                                            @*<td>@info.AuthorFullName</td>*@
                                            @*<td>@info.LikeCount</td>*@
                                            @*<td>
                                                <span class="checkbox-custom checkbox-primary">
                                                    <input class="selectable-item" type="checkbox">
                                                    <label></label>
                                                </span>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)">Last quarter revene</a><i class="icon md-help ml-10 red-600"
                                                                                                       aria-hidden="true" data-toggle="tooltip" data-original-title="help"
                                                                                                       data-container="body" title=""></i>
                                            </td>*@
                                            <td>@info.Title</td>
                                            <td>
                                               @info.Explanation
                                            </td>
                                            <td>@info.CategoryName
                                            </td>
                                            <td>
                                                @info.AuthorFullName
                                            </td>
                                            <td>
                                                @info.LikeCount
                                            </td>
                                            <td>
                                                <img class="avatar avatar-sm" src="@UrlHelper.AuthorPhotoPath@info.ImagePath" data-toggle="tooltip"
                                                     data-original-title="Crystal Bates" data-container="body"
                                                     title="">
                                            </td>
                                        </tr>


                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </table>


<!-- Panel Table Example1 Report -->
<!-- End Panel Table Example1 Report-->