@model DoYouNowThese.CommonModel.AppUserModel.AppUserModel
@using DoYouNowThese.CORE
@if (Model != null)
{
    <div class="cover overlay">
        <img class="cover-image" src="~/AdminContent/assets/examples/images/dashboard-header.jpg" alt="...">
        <div class="overlay-panel vertical-align overlay-background">
            <div class="vertical-align-middle">
                @if (Model.AppUser.UserImagePath != null)
                {
                    <a class="avatar avatar-lg" href="javascript:void(0)">
                        <img src="@UrlHelper.AuthorPhotoPath@Model.AppUser.UserImagePath" alt="@Model.AppUser.UserImagePath">
                    </a>
                }
                else
                {
            <a class="avatar avatar-lg" href="javascript:void(0)">
                <img src="~/AdminContent/portraits/1.jpg" alt="">
            </a>
                }
                <div class="site-menubar-info">
                    <h5 class="site-menubar-user">@Model.AppUser.Name @Model.AppUser.Surname</h5>
                    <p class="site-menubar-email"><a href="https://getbootstrapadmin.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a5c8c4c6cdccc1c0d6ccc2cbe5c2c8c4ccc98bc6cac8">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
    </div>


    <li class="nav-item dropdown">
        <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
           data-animation="scale-up" role="button">
            @if (Model.AppUser.UserImagePath != null)
            {
                <span class="avatar avatar-online">
                    <img src="@UrlHelper.AuthorPhotoPath@Model.AppUser.UserImagePath" alt="@Model.AppUser.UserImagePath">
                    <i></i>
                </span>
            }
            else
            {
                <span class="avatar avatar-online">
                    <img src="~/AdminContent/portraits/5.jpg" alt="...">
                    <i></i>
                </span>
            }

        </a>
        <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profile</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-card" aria-hidden="true"></i> Billing</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
        </div>
    </li>
}


